@use "functions" as *;
@use "breakpoints" as *;

// Colors
$dark-blue: #28283d;
$light-grey: #87879d;
$medium-blue: #4d96a9;
$deep-blue: #71c0d4;
$light-blue: #8fe3f9;
$purple: #855fb1;
$deep-purple: #b18bdd;
$light-purple: #d9b8ff;
$off-white: #fafafa;

// Fonts
$ff-red-hat: "Red Hat Display", sans-serif;
